.box {
  height: 40px;
  width: 40px;
  margin: 6px;
  border: 1px solid steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:nth-child(odd) {
  background-color: #ddd;
}
