.box {
  height: 35px;
  width: 35px;
  margin: 6px;
  border: 1px solid steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:nth-child(odd) {
  background-color: #ddd;

  height: 45px;
  width: 45px;
}
