.header {
  text-align: center;
  color: steelblue;
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px;
}

.layoutBox {
  display: flex;
  justify-content: center;
}

.centerColumn {
  display: flex;
  margin-top: 10px;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.controlBox {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
}

.controlMenuItem {
  display: flex;
  align-items: center;
}

.controlMenuValue {
  padding-left: 4px;
  color: steelblue;
}
