.todoBox {
  display: flex;
  flex-direction: column;

  flex-basis: 60vw;
  max-width: 600px;
  min-height: 400px;
  background-color: white;

  padding: 20px;

  border: 6px solid black;
}

.spacer {
  display: flex;
  flex: 2;
}

.todoItemBox {
  display: flex;
  padding: 2px 16px;
  &:nth-child(odd) {
    border-radius: 100px;
    background-color: #f5f5f5;
  }
}
